@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* 
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 0px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #DB2631;
  border-radius: 50px;
  border: 2px solid #043444;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #E7AB65; 
}


.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #DB2631 #043444;
} */
